@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}
* {
  box-sizing: border-box;
}
/* font-family: "Open Sans", sans-serif; */
body {
  font-family: "Cormorant", serif;
  color: rgb(21, 22, 24);
  font-size: 16px;
  line-height: 1.4;
}

.none {
  display: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(21, 22, 24);
}
.header {
  margin-top: 87px;
}
.header-top {
  width: 1230px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.nav {
  border: 1px solid rgb(0, 0, 0);
}
.nav-list {
  display: flex;
}

.nav-list li {
  padding-right: 65px;
}
.nav-list li:last-child {
  padding-right: 34px;
}
.icons {
  display: flex;
  gap: 20px;
}
